In [5]:
q1 = df['Chiều cao'].quantile(0.25)
q3 = df['Chiều cao'].quantile(0.75)
iqr = q3 - q1
iqr

np.float64(5.0)

In [4]:
# Xét DataFrame ở ví dụ 5.8.8.1
df

   Tuổi  Chiều cao  Cân nặng
0    16        165        55
1    17        170        60
2    16        160        52
3    18        172        65
4    17        168        58

In [3]:
df.info

<bound method DataFrame.info of    Tuổi  Chiều cao  Cân nặng
0    16        165        55
1    17        170        60
2    16        160        52
3    18        172        65
4    17        168        58>

In [2]:
# Thống kê mô tả
df.describe()

           Tuổi   Chiều cao   Cân nặng
count   5.00000    5.000000   5.000000
mean   16.80000  167.000000  58.000000
std     0.83666    4.690416   4.949747
min    16.00000  160.000000  52.000000
25%    16.00000  165.000000  55.000000
50%    17.00000  168.000000  58.000000
75%    17.00000  170.000000  60.000000
max    18.00000  172.000000  65.000000

In [1]:
import pandas as pd

data = {
    'Tuổi': [16, 17, 16, 18, 17],
    'Chiều cao': [165, 170, 160, 172, 168],
    'Cân nặng': [55, 60, 52, 65, 58]
}

df = pd.DataFrame(data)
df

   Tuổi  Chiều cao  Cân nặng
0    16        165        55
1    17        170        60
2    16        160        52
3    18        172        65
4    17        168        58