In [8]:
#Xem từng nhóm dữ liệu
grouped.get_group('C')          #các hàng có key='A" được gom thành một nhóm

  key  data
2   C     2
5   C     5

In [7]:
#Xem từng nhóm dữ liệu
grouped.get_group('B')          #các hàng có key='A" được gom thành một nhóm

  key  data
1   B     1
4   B     4

In [6]:
#Xem từng nhóm dữ liệu
grouped.get_group('A')          #các hàng có key='A" được gom thành một nhóm

  key  data
0   A     0
3   A     3

In [5]:
# 2. Áp dụng phép tổng hợp (Tính toán thực tế)
print("\nKết quả sau khi áp dụng sum() (Bước Apply và Combine):")
print(grouped.sum()) #

Kết quả sau khi áp dụng sum() (Bước Apply và Combine):
     data
key
A       3
B       5
C       7

In [4]:
# 1. Tạo đối tượng GroupBy (Chưa tính toán)
grouped = df.groupby('key')
print("Đối tượng GroupBy (Lazy Evaluation):", type(grouped))

Đối tượng GroupBy (Lazy Evaluation): <class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [2]:
# Tạo DataFrame đơn giản để minh họa groupby (Ví dụ 4.8.2.1)
import pandas as pd
df_data = {
    'key':['A','B','C','A','B','C'],
    'data':range(6)
}
df = pd.DataFrame(df_data, columns=['key','data'])
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5